hoverColor($type,$baseColor,$color,$delay){
    if ($type=='text'){
        color:$baseColor
        transition:color $delay
        &:hover{
            color:$color
        }
    }

    else if ($type=='icon'){
        fill:$baseColor
        transition:fill $delay
        &:hover{
            fill:$color
        }
    }
}

@keyframes flash {
    0% {transform:scale(1.001);}
    50% {transform:scale(1.1);background-position: 100px 0px;}
    100% {transform:scale(1.001);background-position: 0px 0px;}
}