gradienLinear($type='text',$color1,$color2,$deg=0)
    if $type=='block'
        background-image: linear-gradient($deg,$color1,$color2)
    if $type=='text'
        background-image: linear-gradient($deg,$color1,$color2)
        background-clip text
        color transparent
    if $type=='border'
        border-image-source: linear-gradient($deg,$color1,$color2)

