@import './var';
@import './mixins';
@import './base';

useFont($font1)
useFont($font2)

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.app 
    setFont('LabGrotesque',normal,normal)
    a{
        text-decoration none
    }

