// extended - include eot, woff, etc (see ./mixins/fonts)
$use-fonts-extended = false;
$fonts-path = '~assets/fonts/';

$font1 = {
  'bold': {
    name: 'adineuePROCyr',
    file: adineuePROCyr-Bold,
    weight: bold,
    style: normal
  },
  'light': {
    name: 'adineuePROCyr',
    file: adineuePROCyr-Light,
    weight: lighter,
    style: normal
  },
}

$font2 = {
  'bold': {
    name: 'LabGrotesque',
    file: LabGrotesque-Bold,
    weight: bold,
    style: normal
  },

  'boldI': {
    name: 'LabGrotesque',
    file: LabGrotesque-BoldItalic,
    weight: bold,
    style: italic
  },

  'italic': {
    name: 'LabGrotesque',
    file: LabGrotesque-Italic,
    weight: normal,
    style: italic
  },

  'medium': {
    name: 'LabGrotesque',
    file: LabGrotesque-Medium,
    weight:medium,
    style:normal
  },

  'mediumI': {
    name: 'LabGrotesque',
    file: LabGrotesque-Medium,
    weight:medium,
    style: italic
  },

  'regular': {
    name: 'LabGrotesque',
    file: LabGrotesque-Regular,
    weight:normal,
    style: normal
  },

  'thin': {
    name: 'LabGrotesque',
    file: LabGrotesque-Thin,
    weight:lighter,
    style: normal
  },

  'thinI': {
    name: 'LabGrotesque',
    file: LabGrotesque-ThinItalic,
    weight:lighter,
    style: italic
  },


}




